label {
    display: block;
    font-weight: bold;
}

form div {
    margin-bottom: 10px;
}

.noticia .titulo {
    font-weight: bold;
}

.noticia .conteudo {
    display: none;
}

.noticia .nome {
    font-weight: bold;
}

.noticia .email {
    font-weight: bold;
}

.noticia .data {
    font-weight: bold;
}
